.text-animate{
    display:inline-block;
    opacity :0;
    animation:bounceIn 1s 1s;
    animation-fill-mode:forwards;
    min-width: none;
    letter-spacing: 10px;

}
.text-animate-hover{
    min-width: 10px;
    display:inline-block;
    animation:zoomIn 0.3s;
    animation-fill-mode: both;
    &:hover{
        animation:ruberBand 1s ;
        color:var(--font-color);
    }
}
@for $i from 1 through 35{
    .text-animate._#{$i} {
        animation-delay:#{$i / 10}s;
    }
}
.font-fa{
    font-family:'Courier New', Courier, monospace;
}