
.container-chart-skill{
    padding:10px 15px;
    color:var(--font-color-white);
    text-align:center;
    width:200px;
    border-radius:8px;
    margin: 10px ;
    box-shadow: 2px 2px 2px 2px var(--bgSideBar);
   
    .cir-child{
        margin:0 auto;
        position:relative;
        &:hover{
            svg circle{
                // animation:fadeIn 1s;
                
                &:nth-child(2){
                    animation:colorStroke 1s;
                    stroke:rgb(26, 26, 208);
                    
                    
                }
            }
        }

   
        svg circle{
            stroke-width:10px;
            stroke:#aaa;
            stroke-dashoffset: 502;
            stroke-dasharray: 502;
            transform: translate(10px,10px);
           
        
            &:nth-child(1){
                stroke-dashoffset: 0;
                
            }
            &:nth-child(2){
                stroke:var(--font-color);
                // animation:colorStroke 1s;
                

            }
            
        
        }
        span{
            font-size:36px;
            position:absolute;
            top:70px;
            left:70px;
            
        }

    }
    h3{
        font-size:28px;
        font-family: 'Courier New', Courier, monospace;
        letter-spacing: 5px;
        font-weight: 300;
    }
}

@keyframes colorStroke {
    0%{
       
        stroke-dashoffset: 502;
    }
    50%{
        
        stroke-dashoffset: 200;
    }
    90%{
        
        stroke-dashoffset: 120;
    }
}