@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
.nav-bar {
  background-color: var(--backgroundSidebar);
  background-color: var(--bgSideBar);
  width: 60px;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 3;
  min-height: 500px;
  h1{
    color:var(--font-color);
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-family: 'Great Vibes', cursive;
  }

  .logo {
    display: block;
    padding: 8px 0;

    h1 {
      margin: 8px 0;
    }
  }

  nav {
    display: block;
    text-align: center;
    position: absolute;
    height: 210px;
    top: 50%;
    margin-top: -120px;
    width: 100%;

    a {
      font-size: 22px;
      color: var(--color-nav-link);
      display: block;
      line-height: 51px;
      position: relative;
      text-decoration: none;
      i {
        transition: all 0.3s ease-out;
      }
      &:hover {
        color: var(--hover-link);
        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: "";
        font-size: 9px;
        letter-spacing: 2px;
        position: absolute;
        top: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        transition: all 0.3s ease-out;
      }
      &:first-child {
        &::after {
          content: "HOME";
        }
      }

      &:nth-child(2) {
        &:after {
          content: "ABOUT";
        }
      }
      &:nth-child(3) {
        &:after {
          content: "CONTACT";
        }
      }
      &:nth-child(4){
        &:after{
          content: "SKILLS"
        }      }
    }
    a.active {
      svg {
        color: var(--hover-link);
      }
    }
  }
  ul {
    position: absolute;
    bottom: 0;
    width: 50%;
    text-align: center;
    margin-top: auto;
    list-style: none;
    padding: 10px;
    li {
      padding: 4px;

      a {
        text-decoration: none;
        font-size: 18px;
        svg {
          color: var(--color-nav-link);
        }

        &:hover{
            svg{
                color:var(--hover-link);
            }
            
        }
      }
    }
  }
}
